@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* styles/globals.css */
.container {
  @apply w-full px-4  md:px-8 lg:px-16  mx-auto;
}

.navlink {
  @apply border-1 bg-[#FEFAFA] text-[#051118] rounded-4xl shadow-2xl text-lg px-4 py-2 lg:px-6 ;
}

.cta-btn {
  @apply bg-[#E9FF7A] flex items-center justify-between rounded-full gap-4  px-2  md:gap-12  font-semibold;
}

.logo-ticker-images {
  @apply h-16 w-auto md:h-20 lg:h-24 grayscale hover:grayscale-0
}

.features-card {
  @apply shadow-lg bg-white py-8 px-5 flex flex-col gap-5 justify-center rounded-xl max-w-sm h-full
}

.empower-card {
  @apply py-6 px-4 rounded-2xl drop-shadow-[5px_10px_20px_#AF5DD4] flex flex-col gap-5 bg-white max-w-xl md:px-5 md:py-12;
}